*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

li{
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Merriweather', sans-serif;
}

header{
    background-image: url(../img/foodiesfeed.png);
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 685px;
}

nav{
    width: 540px;
    float: right;
    padding-top: 69px;
    padding-right: 100px;
}

nav a{
    color: #3c3c3c;
    font-size: 15px;
    margin-right: 00px;
    display: inline-block;
    width: 100px;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    box-sizing: border-box;
    
}

nav a:hover{
    border: 0.40px solid #3c3c3c;
}

.topnav .icon{
    display: none;
}



header h1{
    font-size: 35px;
    color: #3c3c3c;
    font-weight: 300;
    text-align: center;
    padding-left: 44%;
    padding-top: 20%;
    padding-bottom: 100px;
    background-image: url(../img/decoration-1.png);
    background-repeat: no-repeat;
    background-position: 76% 95%;
}

/*============Описание=========*/

.description{
    min-height: 250px;
    background-image: url(../img/Bg.png);
    background-size: cover;
    display: flex;
    justify-content: center;
}

.description_item{
    display: inline-block;
    width: 350px;
    padding: 0 40px;
    text-align:center;
}

.description_item p{
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 40px;
}

.description_item h1{
    font-weight: 700;
    font-size: 18px;
    padding-top: 35px;
    text-align: center;
    text-transform: uppercase;
}

/*.tea{
    padding-left:120px !important;
    padding-bottom: 10px; 
}*/

.description_item img{
    padding-top: 25px;
}


/*==================================================This month specials================================================*/


.special_container{
    margin-bottom: 50px;
}

.special_item_container{
    display: flex;
    justify-content: center;
}


.special_item_container img{
    width: 180px;
    height: 180px;
}

.special_item{
    width: 180px;
    height: 180px;
    padding: 45px 15px;
    box-sizing: border-box;
    background-color: #ebebeb;
}

.special_item h1{
    color: #3c3c3c;
    font-size: 15px;
    text-align: center;
}

.special_item hr{
    width: 70px;
    margin: 0 auto;
    margin-top: 10px;
}

.special_item p{
    color: #3c3c3c;
    font-size: 13px;
    text-align:center;
    padding-top: 10px;

}

.specials{
    padding: 45px 0;
    text-align: center;
    font-size: 35px;
    font-weight: 300;
    background-image: url(../img/decoration-1.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    margin-bottom: 50px;
}   


/*=======================================================================About us==============================================*/

#about_us{
    min-height: 600px;
    background-image: url(../img/Signature.png), 
    url(../img/SW_AndrewParrish.png), 
    url(../img/Background.png);
    background-repeat:  no-repeat, no-repeat, repeat-x;
    background-position: 380px 450px, right, center;
    background-size: 100px 70px, 700px 668px,  auto;
}

#about_us div{
    padding: 150px 0 0 100px;
    width: 400px;
    line-height: 30px;
    text-align:center;
}

#about_us h1{
    padding: 45px 0;
    font-size: 30px;
    font-weight: 300;
    background-image: url(../img/decoration-1.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    margin-bottom: 10px;
}

#main_menu h1{
    padding: 45px 0;
    text-align: center;
    font-size: 32px;
    font-weight: 300;
    background-image: url(../img/decoration-1.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    margin-bottom: 50px;
}

/*===================MENU============*/

.navbar{
    
    display: flex;
    justify-content: center;
}

.navbar a{
    color: #3c3c3c;
    font-size: 15px;
   
    display: inline-block;
    width: 100px;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    box-sizing: border-box;

}

.navbar a:hover{
    border: 0.40px solid #3c3c3c;
}

.menu_container{
    display: flex;
    justify-content: center;
}

.left_menu, .right_menu {
    width: 450px;
    padding:15px;
}

.left_menu p, .right_menu p{
    padding:10px;
}

.left_menu{
    padding-right: 5%;
}

.right_menu{
    padding-left: 5%;
}

.price{
    float: right;
}

.dish{
    float: left;
    width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    text-transform: uppercase;
    color: #3c3c3c;
    font-size: 15px;
}

.composition{
    font-size: 12px;
    color: #3c3c3c;
    font-style: italic;
}


/*======================FOOTER======================*/


footer{
    min-height: 685px;
    background-image: url(../img/Photo1copy.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #3c3c3c;
}

.footer_container{
    display: flex;
    justify-content: flex-end;
    margin-right: 11%;
    line-height: 24px;
}

footer h1{
    
    display: flex;
    justify-content: flex-end;
    margin-right:20%;
    padding: 45px 70px 45px 0;
    text-align: center;
    font-size: 32px;
    font-weight: 300;
    background-image: url(../img/decoration-1.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    margin-bottom: 50px;
}

.footer_container h2{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

.address{
    margin-right: 10%;
}

footer p{
    font-size: 13px;
    
}

form{
    margin-top: 50px;
    margin-right: 10%;
    float: right;
    width: 470px;

}

footer form input{
    border: none;
    background:none;
    outline: none;

}

form button{
    margin-left: 37%;
    margin-top: 40px;
    padding: 10px 20px;
    background: none;
    border: 0.2px solid black;
   
}

.feedback-input{
    width: 180px;
    float: left;
    border-bottom: 1px solid black;
    margin-right: 40px;
    padding: 5px;
}

.message{
    margin-top: 45px;
    border-bottom: 1px solid black;
    padding: 5px;
    width: 418px;
}



.cont{
    display: flex;
    justify-content: flex-end;
    margin-right: 30%;
    margin-top: 70px;
    text-transform: uppercase;
}

.social{
    float: right;
    clear: both;
    margin: 60px 250px 0 0;
}


.social a{
    display:inline-block;
    width: 35px;
    height: 35px;
    border: 1px solid black;

}

.facebook{
    background-image: url(../img/facebook.png);
    background-repeat: no-repeat;
    background-position: center;
}

.insta{
    background-image: url(../img/Instagram.png);
    background-repeat: no-repeat;
    background-position: center;
}


/*=================================================Адаптив=====================================*/

@media (min-width: 0px) and (max-width: 320px){

    .topnav{
        display:none;
    }


    header{
        min-height: 153px;
    }

    header nav{
        padding-top: 32px;
    }

    header h1{
        font-size: 11px;
        padding-left: 40%;
        padding-bottom: 30px;
        padding-top: 0;
        background-size: 37%;
        background-position: 82% 80%;
    }

    .description{
        display: block;
    }

    .description_item{
        width: auto;
    }

   
    .description_item h1{
        font-size: 15px;
        padding-top: 5px;
    }

    .description_item p {
        font-size: 11px;
        padding-top: 10px;
        padding-bottom: 15px;
    }

    .specials {
    padding: 30px 0;
    text-align: center;
    font-size: 28px;
    background-size: 70%;
    }

    .special_item_container{
        display: block;
        text-align:center;
        margin-bottom: 30px;
    }

    .special_item_container img {
        width: 210px;
        height: 210px;
}

    .special_item_container div{
        margin: 0 auto;
        margin-top: -5px;
    }

    .special_item{
        width: 210px;
        height: 210px;
        
    }

    #about_us{
        background-position: 380px 450px, 17px 100% , center;
        background-size: 100px 70px, 300px 300px, auto;
        min-height: 500px;
    }

    #about_us div{
        width: auto;
        padding: 0;
    }

    #about_us h1 {
        padding: 30px 0;
        font-size: 25px;
        margin-bottom: 10px;
        background-size: 70%;
}

    #about_us div p{
        font-size: 12px;
}

.menu_container{
    display:block;
}

.menu_container p{
    font-size: 12px;
}

.dish{
    width: 230px;
    font-size: 12px;
}

.left_menu, .right_menu {
    width: 273px;
}

.composition{
    font-size: 10px;
}

.navbar a{
    padding-top: 14px;
    font-size: 14px;
}

footer{
    background-size: cover;
    min-height: 400px;
}

footer h1 {
    
    margin-right: 11%;
    padding: 220px 24px 10px 0;
    text-align: center;
    font-size: 17px;
    /* background-image: url(../img/decoration-1.png); */
    background-image: none;
    margin-bottom: 0;
}

.footer_container{
    display: block;
    float: right;
    margin: 0;
    text-align: left;
}

.footer_container h2{
    font-size: 12px;
    margin: 0;
}

footer p{
    font-size: 9px;
}

.address{
    margin: 0;
    margin-right: 39px;
   
}

.cont, form{
    display: none;
}

.reservation{
    float: left;
}

.social{
    float: none;
    margin: 0;
}

.social a{
    width: 30px;
    height: 30px;
}

}

@media (min-width: 321px) and (max-width: 480px){

.topnav{
        display:none;
    }


    header{
        min-height: 235px;
        background-size: cover;

    }

    header nav{
        padding-top: 32px;
    }

    header h1{
        font-size: 12px;
        padding-left: 40%;
        padding-bottom: 30px;
        padding-top: 58%;
        background-size: 37%;
        background-position: 82% 98%;
    }

    .description{
        display: block;
    }

    .description_item{
        width: auto;
        
    }

    .description_item img{
        width: 18%;
        padding-top: 0;
        padding-left: 0;
        
    }

    .tea{
        padding-top: 0;
        padding-left: 0;
    }

    .description_item h1{
        font-size: 15px;
        padding-top: 5px;
    }

    .description_item p {
        font-size: 12px;
        padding-top: 10px;
        padding-bottom: 15px;
    }

    .specials {
    padding: 30px 0;
    text-align: center;
    font-size: 28px;
    background-size: 53%;
    }

    .special_item_container{
        display: block;
        text-align:center;
        margin-bottom: 30px;
    }

    .special_item_container img {
        width: 210px;
        height: 210px;
}

    .special_item_container div{
        margin: 0 auto;
        margin-top: -5px;
    }

    .special_item{
        width: 210px;
        height: 210px;
        
    }

    #about_us{
        background-position: 334px 175px, 91px 100% , center;
        background-size: 114px 70px, 320px 320px, auto;
        min-height: 500px;
    }

    #about_us div{
        width: auto;
        padding: 0;
    }

    #about_us h1 {
        padding: 30px 0;
        font-size: 25px;
        margin-bottom: 10px;
        background-size: 55%;
}

    #about_us div p{
        font-size: 12px;
}

.menu_container{
    display:block;
}

.menu_container p{
    font-size: 12px;
}

.dish{
    width: 230px;
    font-size: 12px;
}

.left_menu, .right_menu {
    width: 273px;
    padding-left: 5%;
}

.composition{
    font-size: 10px;
}

.navbar a{
    padding-top: 14px;
    font-size: 15px;
}

footer{
    background-size: cover;
    min-height: 400px;
}

footer h1 {
    
    margin-right: 20%;
    padding: 220px 24px 10px 0;
    text-align: center;
    font-size: 18px;
    /* background-image: url(../img/decoration-1.png); */
    background-image: none;
    margin-bottom: 0;
}

.footer_container{
    display: block;
    float: right;
    margin: 0;
    margin-right:12%;
    text-align: left;
}

.footer_container h2{
    font-size: 13px;
    margin: 0;
}

footer p{
    font-size: 10px;
}

.address{
    margin: 0;
    margin-right: 39px;
   
}

.cont, form{
    display: none;
}

.reservation{
    float: left;
}

.social{
    float: none;
    margin: 0;
}

.social a{
    width: 30px;
    height: 30px;
}


}

@media (min-width: 481px) and (max-width: 768px){

    /*.topnav{
        display:none;
    }*/


    header{
        min-height: 350px;
        background-size: cover ;

    }

    .topnav{
        display:none;
    }

    header nav{
        padding-top: 32px;
    }

    header h1{
        font-size: 16px;
        padding-left: 58%;
        padding-bottom: 30px;
        padding-top: 18%;
        background-size: 26%;
        background-position: 90% 98%;
    }

    .description{
        display: block;
    }

    .description_item{
        width: 100%;
        box-sizing: border-box;
    }

    .description_item img{
        width: 15%;
        padding-top: 20px;
        padding-left: 0;
        
    }

    .tea{
        padding-top: 0;
        padding-left: 0;
    }

    .description_item h1{
        font-size: 15px;
        padding-top: 5px;
    }

    .description_item p {
        font-size: 14px;
        padding-top: 15px;
        padding-bottom: 15px;

    }

    .specials {
    padding: 30px 0;
    text-align: center;
    font-size: 28px;
    background-size: 35%;
    }

    .special_item_container{
        flex-wrap: wrap;
        text-align:center;
        margin-bottom: 35px;
        width: 60%;
        margin: 0 auto;
    }

    .special_item_container img {
        width: 210px;
        height: 210px;
        text-align: center;
        margin-top: 10px;
}

    .special_item_container div{
        
        margin-top: 10px;
    }

    .special_item{
        width: 210px;
        height: 210px;
    }

    #about_us{
        background-position: 567px 159px, 185px 130% , center;
        background-size: 131px 70px, 410px 410px, auto;
        min-height: 500px;
    }

    #about_us div{
        width: auto;
        padding: 0;
    }

    #about_us h1 {
        padding: 30px 0;
        font-size: 25px;
        margin-bottom: 10px;
        background-size: 33%;
}

    #about_us div p{
        font-size: 12px;
}

.menu_container{
    display:block;

}

.menu_container p{
    font-size: 15px;
}

.dish{
    width: 60%;
    font-size: 14px;
}

.left_menu, .right_menu {
    width: 90%;
    padding-left: 0;
    margin: 0 auto;
    padding-right: 0;
}

.composition{
    font-size: 10px;
}

.navbar a{
    padding-top: 14px;
    font-size: 15px;
}

footer{
    background-size: cover;
    background-position: right;
    min-height: 400px;
}

footer h1 {
    
    margin-right: 27%;
    padding: 40px 24px 10px 0;
    text-align: center;
    font-size: 26px;
    /* background-image: url(../img/decoration-1.png); */
    background-image: none;
    margin-bottom: 0;
}

.footer_container{
    display: block;
    float: right;
    margin: 0;
    margin-right:27%;
    text-align: left;
}

.footer_container h2{
    font-size: 16px;
    margin: 0;
}

footer p{
    font-size: 10px;
}

.address{
    margin: 0;
    margin-right: 39px;
   
}

.cont, form{
    display: none;
}

.reservation{
    float: left;
}

.social{
    float: none;
    margin: 0;
    padding: 100px 0 0 10px;
}

.social a{
    width: 30px;
    height: 30px;
}

}


@media (min-width: 769px) and (max-width: 992px){

    
    .topnav{
        text-align: right;
    }

    header{
        min-height: 490px;
        background-size: cover ;

    }

    nav {
    width: 516px;
    float: right;
    padding-top: 69px;
    padding-right: 4%;
    }

    nav a{
        width: 65px;
    }
    header nav{
        padding-top: 122px;
    }

    header h1{
        font-size: 16px;
        padding-left: 55%;
        padding-bottom: 30px;
        padding-top: 28%;
        background-size: 20%;
        background-position: 85% 98%;
    }

    .description{
        display: block;
        margin: 0 auto;
        min-height: 210px;
    }

    .description_item{
        width: 32%;
        box-sizing: border-box;
        padding: 0 10px;

    }

    .description_item img{
        width: 18%;
        padding-top: 20px;
        padding-left: 0;
        
    }

    .tea{
        padding-top: 0;
        padding-left: 0;
    }

    .description_item h1{
        font-size: 15px;
        padding-top: 5px;
    }

    .description_item p {
        font-size: 14px;
        padding-top: 15px;
        padding-bottom: 15px;

    }

    .specials {
    padding: 30px 0;
    text-align: center;
    font-size: 28px;
    background-size: 35%;
    }

    .special_item_container{
        flex-wrap: wrap;
        text-align:center;
        margin-bottom: 35px;
        width: 60%;
        margin: 0 auto;
    }

    .special_item_container img {
        width: 210px;
        height: 210px;
        text-align: center;
        margin-top: 10px;
}

    .special_item_container div{
        
        margin-top: 10px;
    }

    .special_item{
        width: 210px;
        height: 210px;
    }

    #about_us{
        background-position: 92% 159px, 54% 130% , center;
        background-size: 131px 70px, 425px 425px, auto;
        min-height: 515px;
    }

    #about_us div{
        width: auto;
        padding: 0;
    }

    #about_us h1 {
        padding: 30px 0;
        font-size: 25px;
        margin-bottom: 10px;
        background-size: 25%;
}

    #about_us div p{
        font-size: 15px;
}

.menu_container{
    display:block;

}

.menu_container p{
    font-size: 15px;
}

.dish{
    width: 60%;
    font-size: 14px;
}

.left_menu, .right_menu {
    width: 90%;
    padding-left: 0;
    margin: 0 auto;
    padding-right: 0;
}

.composition{
    font-size: 10px;
}

.navbar a{
    padding-top: 14px;
    font-size: 15px;
}

footer{
    background-size: cover;
    background-position: right;
    min-height: 400px;
}

footer h1 {
    
    margin-right: 15%;
    padding: 40px 24px 10px 0;
    text-align: center;
    font-size: 27px;
    /* background-image: url(../img/decoration-1.png); */
    background-image: none;
    margin-bottom: 0;
}

.footer_container{
    display: block;
    float: right;
    margin: 0;
    margin-right:22%;
    text-align: left;
}

.footer_container h2{
    font-size: 18px;
    margin: 0;
}

footer p{
    font-size: 13px;
}

.address{
    margin: 0;
    margin-right: 39px;
   
}

.cont, form{
    /*display: none;*/
}

.cont{
    margin-top: 21%;
    margin-right: 22%;
}

.reservation{
    float: left;
}

.social{
    float: none;
    margin: 0;
    padding: 10px 0 0 10px;
}

.social a{
    width: 30px;
    height: 30px;
}
form{
    margin-right: 1%;
}

}

@media (min-width: 993px) and (max-width: 1200px){
    
    .topnav{
        text-align: right;
    }

    header{
        min-height: 600px;
        background-size: cover ;

    }

    nav {
    width: 516px;
    float: right;
    padding-top: 50px;
    padding-right: 5%;
    }

    nav a{
        width: 70px;
    }
    header nav{
        padding-top: 122px;
    }

    header h1{
        font-size: 25px;
        padding-left: 55%;
        padding-bottom: 60px;
        padding-top: 28%;
        background-size: 25%;
        background-position: 87% 98%;
    }

    .description{
        display: block;
        margin: 0 auto;
        min-height: 210px;
    }

    .description_item{
        width: 32%;
        box-sizing: border-box;
        padding: 0 10px;

    }

    .description_item img{
        width: 18%;
        padding-top: 20px;
        padding-left: 0;
        
    }

    .tea{
        padding-top: 0;
        padding-left: 0;
    }

    .description_item h1{
        font-size: 15px;
        padding-top: 5px;
    }

    .description_item p {
        font-size: 14px;
        padding-top: 15px;
        padding-bottom: 15px;

    }

    .specials {
    padding: 30px 0;
    text-align: center;
    font-size: 28px;
    background-size: 22%;
    }

    .special_item_container{
        flex-wrap: wrap;
        text-align:center;
        margin-bottom: 35px;
        width: 88%;
        margin: 0 auto;
    }

    .special_item_container img {
        width: 210px;
        height: 210px;
        text-align: center;
        margin-top: 10px;
}

    .special_item_container div{
        
        margin-top: 10px;
    }

    .special_item{
        width: 210px;
        height: 210px;
    }

    #about_us{
        background-position: 88% 159px, 54% 250% , center;
        background-size: 131px 70px, 500px 500px, auto;
        min-height: 535px;
    }

    #about_us div{
        width: auto;
        padding: 0;
    }

    #about_us h1 {
        padding: 30px 0;
        font-size: 29px;
        margin-bottom: 10px;
        background-size: 20%;
}

    #about_us div p{
        font-size: 18px;
        padding: 0 32px;
}



.menu_container p{
    font-size: 15px;
}

.dish{
    width: 76%;
    font-size: 14px;
}


.left_menu, .right_menu {
    width: 49%;
    padding-left: 0;
    margin: 0 auto;
    padding-right: 0;
}

.composition{
    font-size: 10px;
}

.navbar a{
    padding-top: 14px;
    font-size: 15px;
}

footer{
    background-size: cover;
    background-position: right;
    min-height: 400px;
}

footer h1 {
    
    margin-right: 15%;
    padding: 40px 24px 10px 0;
    text-align: center;
    font-size: 27px;
    /* background-image: url(../img/decoration-1.png); */
    background-image: none;
    margin-bottom: 0;
}

.footer_container{
    display: block;
    float: right;
    margin: 0;
    margin-right:22%;
    text-align: left;
}

.footer_container h2{
    font-size: 18px;
    margin: 0;
}

footer p{
    font-size: 13px;
}

.footer_container p{
    padding: 10px;
}

.address{
    margin: 0;
    margin-right: 39px;
   
}



.cont{
    margin-top: 21%;
    margin-right: 22%;
}

.reservation{
    float: left;
}

.social{
    float: none;
    margin: 0;
    padding: 10px 0 0 10px;
}

.social a{
    width: 30px;
    height: 30px;
}
form{
    margin-right: 1%;
}

}


@media (min-width: 1201px) and (max-width: 1366px){
    header{
        background-size: cover;
        min-height: 670px;
    }

    nav{
        padding-right: 4%;
    }

    footer{
        background-size: cover;
        background-position: right;
    }

    footer h1{
        margin-right: 14%;
    }

    .footer_container{
        margin-right: 5%;
    }

    form{
        margin-right: 5%;
    }

    .cont{
        margin-right: 17%;
    }

    .social{
        margin-right: 40px
    }
}







@media (min-width: 1440px) and (max-width: 1980px){
    header{
        min-height: 980px;
    }

    header h1{
    font-size: 40px;
    
    }

nav{
    width: 600px;
    padding-right: 235px;
    }

nav a{
    font-size: 18px;
    width: 110px;
    height: 60px;
    }

.description_item{
        padding: 0 100px;
    }

.special_item_container img{
    width: 248px;
    height: 248px;
}

.special_item{
    width: 248px;
    height: 248px;
    padding-top: 60px;
}

.special_item h1{
    font-size: 18px;
}

.special_item p{
    font-size: 16px;
}

#about_us{
    min-height: 967px;
    background-image: url(../img/Signature.png), 
    url(../img/SW_AndrewParrish.png), 
    url(../img/Background.png);
    background-repeat:  no-repeat, no-repeat, repeat-x;
    background-position: 580px 750px, 85%, center;
    background-size: 213px 144px, 900px 868px,  auto;
}


#about_us div{
    width: 600px;
    padding-left: 200px;
    padding-top: 300px;
    font-size: 30px;
    line-height: 49px;
}
}